.main{
  height: 98%;
  width: 99%;
  position: absolute;
  clear: both;
  border: 1px solid green;
}

.leftframe {
  height: 100%;
  float: left;
  width: 25%;
  border: 1px solid red
}

.middleframe {
  height: 100%;
  float: left;
  width: 50%;
  border: 1px solid blue
}

.rightframe {
  height: 100%;
  float: left;
  width: 24%;
  border: 1px solid black
}

.button {
  margin: 10px 10px 10px 10px;
}

.object {
  padding: 0.25em;
  font-family:  sans-serif;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.currency {
  padding: 0.25em;
  font-family:  sans-serif;

}




