.main{
  height: 97vh;
  width: 100%;
  position: absolute;
  clear: both;
  border: 1px solid green;
}

.leftframe {
  height: 97vh;
  float: left;
  width: 25%;
  border: 1px solid red
}

.middleframe {
  height: 97vh;
  float: left;
  width: 50%;
  border: 1px solid blue
}

.rightframe {
  height: 97vh;
  float: left;
  width: 24%;
  border: 1px solid black
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.currency {
  padding: 0.25em;
  font-family:  sans-serif;

}




